body
  background $blue
  font-family $font-family

	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

h1
  font-weight 600

a
  color inherit
  text-decoration none

ul
  list-style-type none

button
  border none

.content
  min-width 930px
  width 83.333%
  min-width 930px
  padding-left 16.666%

// Font icons
.fi-archive:before
  content: '\e900'

.fi-arrow-down:before
  content: '\e901'

.fi-arrow-up:before
  content: '\e902'

.fi-close:before
  content: '\e903'

.fi-facebook-button:before
  content: '\e904'

.fi-facebook:before
  content: '\e905'

.fi-linkedin-button:before
  content: '\e906'

.fi-menu:before
  content: '\e907'

.fi-read-more:before
  content: '\e908'

.fi-search:before
  content: '\e909'

.fi-twitter-button:before
  content: '\e90a'

.fi-twitter:before
  content: '\e90b'

.fi-vimeo-button:before
  content: '\e90c'

.fi-youtube-button:before
  content: '\e90d'
