@media (min-width $mobilePortrait) and (max-width $tabletPortrait)
  .content
    width 100%
    min-width 320px
    padding-left 0

// @media (min-width $desktopSmall)
//   .header__toggle-sidebar
//     display none


// @media (max-width $tabletLandscape)
//
//
// @media (max-width $desktopLarge)

// @media only screen and (min-device-width $tabletPortrait) and (max-device-width $tabletLandscape)
