@media (min-width $mobilePortrait) and (max-width $tabletPortrait)
  .content
    width 100%
    min-width 320px
    padding-left 0

@media (min-width $tabletPortrait) and (max-width $tabletLandscape)
  .content
    padding-left 200px
    width 80%
    min-width 0

@media (min-width 489px) and (max-width $tabletPortrait)
  .content
    max-width: 475px;
    margin: 0 auto;
    padding-left: 200px;
