/*
The color I'm going to use in the project

$black            - $black color. Mostly for text
$blue             - $blue color. Mostly for background
$blue--dark       - $blue--dark color. Mostly for high intensity details
$white            - $white color. Mostly for invert contrast with black

Styleguide version 0.1
*/

$black      = rgb(84, 95, 95)
$blue       = rgb(237, 245, 245)
$blue--dark = rgb(99, 200, 195)
$red        = rgb(235, 110, 113)
$yellow     = rgb(252, 209, 139)
$white      = rgb(255, 255, 255)
$grey--dark = rgb(109, 121, 121)

$fb-blue          = rgb(38, 92, 151)
$twitter-blue    = rgb(29, 174, 239)

$sidebar__background              = $grey--dark
$sidebar__background-header       = $black
$sidebar__text                    = $white
$sidebar-ads__background--tuhoa   = $red
$sidebar-ads__background--miami   = $yellow
$sidebar-ads__background--empty   = $white

$post__body           = $black
$post__background     = $white
$post__subtitle       = $grey--dark
$post__link           = $blue--dark

$more__background     = $grey--dark

$footer__background    = $white
$footer__text          = $black
$footer__text--legal   = $black
$footer__border--legal = $blue
