- var title = 'Bacon Ipsum'

- var p1 = 'Bacon ipsum dolor amet turkey cupim short ribs, capicola meatloaf turducken pork belly alcatra. Fatback turducken ham hock cupim alcatra short loin pig rump, drumstick brisket prosciutto. '

- var p2 = 'Flank ground round drumstick, bacon andouille swine pancetta turducken landjaeger. Ribeye turkey hamburger chicken pastrami drumstick. Chicken t-bone strip steak corned beef jowl, filet mignon prosciutto biltong bresaola short loin sirloin landjaeger cupim. Salami beef ribs chicken flank brisket pork chop, capicola venison cupim porchetta doner ball tip. '

- var p3 = 'T-bone shank corned beef alcatra drumstick, strip steak kielbasa ground round bacon brisket pork loin capicola pastrami.'

- var image = 'http://placepu.gs/630/300'

include ../../components/post/post.pug

.more
