@import "../../stylus/global/mixins/absolute-center"

.more
  border-radius 50%
  background-color $more__background
  width 64px
  height 64px
  display block
  margin 0 auto 100px
  position relative
  cursor pointer
  span
    absolute-center()
    width 16px
    height 16px
    color $white

.fi-arrow-down.inverted
  transform rotate(180deg)

.more.go-top
  opacity 0
  visibility hidden
  position fixed
  right 0
  left 0
  margin 0 auto
  top -50px
  z-index 9

.more.go-top.visible
  opacity 1
  visibility visible
  transform translateY(100px)
  transition all 0.3s ease-out

.more.go-top.hidden
  opacity 0
  visibility hidden
  transform translateY(-100px)
  transition all 0.3s ease-out

@import "media"
