@import "../../stylus/global/mixins/absolute-center"

.more
  border-radius 50%
  background-color $more__background
  width 64px
  height 64px
  display block
  margin 0 auto 100px
  position relative
  img
    absolute-center()
    width 16px
    height 16px

@import "media"
