@media (min-width $mobilePortrait) and (max-width $tabletPortrait)
  .post
    margin 0
    width 100%
    padding 50px 20px

  .post-info
    padding-left 30px

  .post-info__title
    font-size 15px
    margin-bottom 10px

  .post-tags-date
    font-size 12px
    margin-bottom 15px

  .post-social
    display none

  .post__image
    margin-bottom 40px

  .post__body
    min-width 280px
    padding-left 25px
    box-sizing border-box

  .post__link
    left 50px
    bottom 50px

  .more
    margin 50px auto 50px
