@import "../../stylus/global/mixins/absolute-center"

.header
  height 200px
  position relative

.header__logo
  display block
  absolute-center()

.header__toggle-sidebar
.header__close-sidebar
  width 15px
  height 15px
  absolute-center()
  cursor pointer

.header__toggle-sidebar
  right auto
  left 20px
  color $grey--light

.header__close-sidebar
  display none
  right 20px
  left auto
  z-index 3
  color $black

.header__close-sidebar.visible
  display: block

@import "media"
