- var logo = "./assets/images/blog.svg"

header.header
  span.header__toggle-sidebar.fi-menu#open-sidebar(onclick="casumoActions.toggleSidebar()")
  img.header__logo(src="" + logo, alt="Casumo Logo")
  span.header__close-sidebar.fi-close#close-sidebar(onclick="casumoActions.toggleSidebar()")
