@import "../../stylus/global/mixins/absolute-center"

.header
  height 200px
  position relative

.header__logo
  display block
  absolute-center()

.header__toggle-sidebar
  width 15px
  height 15px
  absolute-center()
  right auto

@import "media"
