@import "./mixins/font-declaration"

webfont('Lineto', 'lineto-circular-pro-book', false, 400)
webfont('Lineto', 'lineto-circular-pro-black', false, 600)

$lineto = 'Lineto', sans-serif
$lineto--regular = 400
$lineto--bold = 600

$font-family = $lineto
