@import "./mixins/font-declaration"

webfont('Lineto', 'lineto-circular-pro-book', false, 400)
webfont('Lineto', 'lineto-circular-pro-book-italic', false, 400, italic)
webfont('Lineto', 'lineto-circular-pro-black', false, 600)
webfont('Casumo', 'casumo-icons', false, 400)

$lineto = 'Lineto', sans-serif
$lineto--regular = 400
$lineto--bold = 600

$font-family = $lineto


[class^="fi-"]
[class*=" fi-"]
	font-family 'Casumo'
  color #000
	speak none
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1

	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
