@media (min-width $desktopMedium)
  .sidebar
    display block

@media only screen and (min-width $mobilePortrait) and (max-width $mobileLandscape) and (orientation : portrait)
  .sidebar
    position absolute
    left -200px

@media only screen and (min-width $mobilePortrait) and (max-width $mobileLandscape) and (orientation : landscape)
  .sidebar
    position absolute
    left -200px
