@media (min-width $desktopMedium)
  .post
    min-width 780px

  .post__image
    img
      max-height 320px

@media (min-width $desktopLarge)
  .post
    min-width 980px

  .post__image
    img
      max-height 400px

// @media (max-width $tabletLandscape)
//
//
// @media (max-width $desktopLarge)
