- var logoCasumo = './assets/images/casumo.svg'

- var logoCasumoBlog = './assets/images/blog-white.svg'

- var logoCasumoTuhoa = './assets/images/tuhoa-tylsyys.svg'
- var logoCasumoMiami = './assets/images/miami.svg'

aside.sidebar#sidebar
  .sidebar-header
    img.sidebar-header__logo(src="" + logoCasumo, alt="sidebar header logo")

    span.sidebar-header__subtitle

  .sidebar-logo
    img.sidebar-logo__img(src="" + logoCasumoBlog, alt="sidebar header logo blog")

  .sidebar-scroll-effect
    .sidebar-scroll-effect-items#sidebar-scroll-effect
      ul.sidebar-navigation
        li.sidebar-navigation__item.selected All Posts
        li.sidebar-navigation__item.first News
        li.sidebar-navigation__item.second New features
        li.sidebar-navigation__item.third Challenge
        li.sidebar-navigation__item.fourth Big wins
        li.sidebar-navigation__item.fifth New games
        li.sidebar-navigation__item.sixth Design
        li.sidebar-navigation__item.seventh Awards
        li.sidebar-navigation__item.eightth Tech

      .sidebar-actions
        .sidebar-actions__search
          span.fi-search

        .sidebar-actions__archive
          span.fi-archive

      .sidebar-ads
        .sidebar-ads__tuhoa
          img(src="" + logoCasumoTuhoa, alt="tuhoa")

        .sidebar-ads__miami
          img(src="" + logoCasumoMiami, alt="tuhoa")

        .sidebar-ads__empty
          p Casumos welcome kit contains: 20 free spins in Starbust on registration, five deposit bonuses worth 1200 and another 180 free spins.

          button.register-button Register

#sidebar-blur.sidebar-blur.closed
