@import "../../stylus/global/mixins/absolute-center"

.sidebar
  background $sidebar__background
  color $sidebar__text
  height 900px
  width 16.66%
  min-width 200px
  position relative
  float left
  z-index 2

.sidebar.visible
  transform translateX(200px)
  transition all 0.5s

.sidebar.closed
  transform translateX(-200px)
  transition all 0.75s

.sidebar-blur.visible
  display block
  position fixed
  width 100%
  height 100%
  background-color rgba(255, 255, 255, 0.85)
  z-index 1

.sidebar-blur.closed
  display none

.sidebar-header
  min-height 100px
  background-color $sidebar__background-header
  position relative
  padding-top 35px
  box-sizing border-box

.sidebar-header__logo
  position relative
  margin 0 auto
  display block

.sidebar-header__subtitle
  display block
  height 35px
  width 100%
  text-align center
  line-height 35px
  cursor default

.sidebar-header__subtitle::before
  content 'a casino'

.sidebar-header__subtitle:hover
  padding 12.5px 10px
  box-sizing border-box
  height 45px
  transition all 1s
  line-height: 15px;

.sidebar-header__subtitle:hover::before
  content 'go to casumo.com'

.sidebar-logo
  height 100px
  position relative

.sidebar-logo__img
  absolute-center()
  width 50px
  height 50px

.sidebar-navigation
  font-size 14px
  padding 0
  width 100px
  margin 15px auto 50px

.sidebar-navigation:hover
  text-decoration underline

.sidebar-navigation__item
  margin-bottom 10px
  cursor pointer
  &.selected
    text-decoration underline

.sidebar-actions
  height 50px
  margin-bottom 50px

.sidebar-actions__search
.sidebar-actions__archive
  width 50%
  display inline-block
  position relative
  button.search
  button.archive
    width 25px
    height 25px
    absolute-center()

.sidebar-ads__tuhoa
.sidebar-ads__miami
  height 100px
  width 100%

.sidebar-ads__empty
  height 190px
  width 100%

.sidebar-ads__tuhoa
  background-color $sidebar-ads__background--tuhoa

.sidebar-ads__miami
  background-color $sidebar-ads__background--miami

.sidebar-ads__empty
  background-color $sidebar-ads__background--empty

@import "media"
