- var logoCasumo = 'http://placepu.gs/115/30'

- var logoCasumoBlog = 'http://placepu.gs/55/45'

aside.sidebar#sidebar
  .sidebar-header
    img.sidebar-header__logo(src="" + logoCasumo, alt="sidebar header logo")

    span.sidebar-header__subtitle a <br> casino

  .sidebar-logo
    img.sidebar-logo__img(src="" + logoCasumoBlog, alt="sidebar header logo blog")

  ul.sidebar-navigation
    li.sidebar-navigation__item.selected All Posts
    li.sidebar-navigation__item News
    li.sidebar-navigation__item New features
    li.sidebar-navigation__item Challenge
    li.sidebar-navigation__item Big wins
    li.sidebar-navigation__item New games
    li.sidebar-navigation__item Design
    li.sidebar-navigation__item Awards
    li.sidebar-navigation__item Tech

  .sidebar-actions
    .sidebar-actions__search
      button.search

    .sidebar-actions__archive
      button.archive

  .sidebar-ads
    .sidebar-ads__tuhoa

    .sidebar-ads__miami

    .sidebar-ads__empty
