- var logoCasumo = 'http://placepu.gs/115/30'

- var logoCasumoBlog = 'http://placepu.gs/55/45'

aside.sidebar#sidebar
  .sidebar-header
    img.sidebar-header__logo(src="" + logoCasumo, alt="sidebar header logo")

    span.sidebar-header__subtitle

  .sidebar-logo
    img.sidebar-logo__img(src="" + logoCasumoBlog, alt="sidebar header logo blog")

  ul.sidebar-navigation
    li.sidebar-navigation__item.selected All Posts
    li.sidebar-navigation__item.first News
    li.sidebar-navigation__item.second New features
    li.sidebar-navigation__item.third Challenge
    li.sidebar-navigation__item.fourth Big wins
    li.sidebar-navigation__item.fifth New games
    li.sidebar-navigation__item.sixth Design
    li.sidebar-navigation__item.seventh Awards
    li.sidebar-navigation__item.eightth Tech

  .sidebar-actions
    .sidebar-actions__search
      button.search

    .sidebar-actions__archive
      button.archive

  .sidebar-ads
    .sidebar-ads__tuhoa

    .sidebar-ads__miami

    .sidebar-ads__empty

#sidebar-blur.sidebar-blur.closed
