.footer
  width 100%
  background $footer__background
  padding 100px 290px 85px
  box-sizing border-box

.wrapper-region-social
  display flex
  flex-flow row
  justify-content space-between
  width 100%

.footer-region
.footer-social
  display flex
  flex-flow row
  width 280px

.footer-region__item
.footer-social__item
  margin-left 15px

.footer-links
  display flex
  flex-wrap wrap
  width 350px

.footer-links__item
  flex 1 0 50%
  margin-bottom 25px

.footer-legal
  display flex

.footer-legal__logos
  margin-right 55px
  margin-bottom 75px
  width 110px

.footer-legal__text
  width 580px

.footer-payment-logos
  display flex
  flex-direction row
  flex-wrap wrap

.footer-payment-logos__item
  margin-right 5px
  width 70px
  height 15px
