- var logoLegal1 = './assets/images/mga.png'
- var logoLegal2 = './assets/images/gambling-commission.png'

- var placeholderFooterLogos = ['http://placepu.gs/40/15', 'http://placepu.gs/40/15', 'http://placepu.gs/40/15', 'http://placepu.gs/40/15', 'http://placepu.gs/40/15', 'http://placepu.gs/40/15', 'http://placepu.gs/40/15', './assets/images/gamcare.png', './assets/images/18.png']

- var placeholdersFooterRegion = ['http://placepu.gs/35/35', 'http://placepu.gs/35/35', 'http://placepu.gs/35/35', 'http://placepu.gs/35/35', 'http://placepu.gs/35/35']

- var placeholdersFooterSocial = ['http://placepu.gs/35/35', 'http://placepu.gs/35/35', 'http://placepu.gs/35/35', 'http://placepu.gs/35/35', 'http://placepu.gs/35/35']

- var footerLinks = ['Casumo home', 'Work at Casumo', 'About us', 'Affiliates', 'Play Okay', 'Contact us', 'FAQ', 'Terms & conditions']

- var legalText = 'Ribeye swine bacon porchetta venison. Cow bresaola leberkas, tenderloin ball tip kevin capicola short ribs strip steak pork chop salami doner jerky bacon landjaeger. Boudin leberkas beef ribs, rump tri-tip capicola beef alcatra ribeye cupim picanha shank jerky ground round filet mignon. Boudin bresaola kielbasa flank t-bone hamburger pork belly sirloin. Spare ribs boudin shankle ham hock landjaeger shoulder fatback capicola alcatra prosciutto bacon tri-tip.'

footer.footer
  .footer-content
    .wrapper-region-social
      ul.footer-region
          li.footer-region__item.sweden
          li.footer-region__item.norway
          li.footer-region__item.finland
          li.footer-region__item.uk
          li.footer-region__item.global

      ul.footer-social
          li.footer-social__item.fi-facebook-button
          li.footer-social__item.fi-twitter-button
          li.footer-social__item.fi-linkedin-button
          li.footer-social__item.fi-youtube-button
          li.footer-social__item.fi-vimeo-button

    ul.footer-links
      each val in footerLinks
        li.footer-links__item
          a(href="#") #{val}

    .footer-legal
      .footer-legal__logos
        img(src="" + logoLegal1, alt="Logo legal 1")
        img(src="" + logoLegal2, alt="Logo legal 2")

      .footer-legal__text #{legalText}

    ul.footer-payment-logos
      li.footer-payment-logos__item.visa
      li.footer-payment-logos__item.mastercard
      li.footer-payment-logos__item.bank
      li.footer-payment-logos__item.skrill
      li.footer-payment-logos__item.neteller
      li.footer-payment-logos__item.paysafe
      li.footer-payment-logos__item.pugglepay
      li.footer-payment-logos__item.gamcare
      li.footer-payment-logos__item.eighteen
