@media (min-width $mobilePortrait) and (max-width $tabletPortrait)
  .footer
    padding 65px 20px 20px

  .footer-content
    width 100%

  .wrapper-region-social
    flex-flow column
    margin-bottom 50px

  .footer-region
  .footer-social
    justify-content space-around

  .footer-links
    width 80%
    font-size 13px
    margin-bottom 35px

  .footer-legal
    flex-direction column

  .footer-legal__logos
    display flex
    justify-content space-between
    margin-bottom 25px
    width 100%

  .footer-legal__logos img
    width auto

  .footer-legal__logos img:first-child
    height 50px

  .footer-legal__logos img:nth-child(2)
    height 30px

  .footer-legal__text
    width 100%

  .footer-payment-logos__item
    display none

  .footer-payment-logos__item:nth-child(8)
  .footer-payment-logos__item:last-child
    display block

@media (min-width $tabletPortrait) and (max-width $tabletLandscape)
  .footer
    padding: 100px 50px 85px 290px;

  .footer-content
    min-width: 420px;
    width auto
