.post
  background-color $post__background
  box-sizing border-box
  color $post__body
  display block
  margin 0 auto
  padding 100px 50px
  width 730px

.post__title
  font-size 18px
  margin-bottom 15px

.post-info
  margin-bottom 25px

.post__image
  display block
  margin-bottom 55px

.post__body
  width 530px
  margin 0 auto
