.post
  .post__title #{title}

  .post-info
    .post-info__tags
      a(href="#") News,
      a(href="#") Challenge,
      a(href="#") Tech,
      a(href="#") New Features
    .post-info__date 47 minutes ago

  .post__image
    img(src="" + image, alt="Post image")

  .post__body
    p #{p1}
    p #{p2}
    p #{p3}

  a.post__link(href="#") Continue Reading &#8594;
