.post
  background-color $post__background
  box-sizing border-box
  color $post__body
  display block
  margin 0 auto 110px
  padding 100px 50px 200px
  position relative
  width 730px

.post__title
  font-size 24px
  margin-bottom 15px

.post-info
  margin-bottom 25px
  color $post__subtitle

.post-info__tags
.post-info__date
  display inline-block
  position relative

.post-info__tags
  padding-right 10px
  a
    margin-right 5px
    &:last-child
      margin-right 0
  &::after
    content '·'
    font-weight 600
    position absolute
    right 0

.post-info__date
  padding-left 5px

.post__image
  display block
  margin-bottom 55px

.post__body
  margin 0 auto
  width 530px

.post__link
  bottom 100px
  color $post__link
  left 100px
  position absolute
