$additionalPaddingForContent = 50px
$facebookIcon = 'http://placepu.gs/10/20'
$twitterIcon = 'http://placepu.gs/22/16'

.post
  background-color $post__background
  box-sizing border-box
  color $post__body
  margin 0 auto 110px
  padding 100px 50px 200px
  position relative
  width 83.33%

.post-info
  float left
  padding-left $additionalPaddingForContent

.post-social
  float right
  padding-right $additionalPaddingForContent
  display flex
  button
    &:first-child
      margin-right 10px

button.facebook
  background url($facebookIcon) center center no-repeat
  background-size cover
  width 25px
  height 25px

button.twitter
  background url($twitterIcon) center center no-repeat
  background-size cover
  width 25px
  height 25px

.post-info__title
  font-size 24px
  margin-bottom 15px

.post-tags-date
  margin-bottom 25px
  color $post__subtitle

.post-tags-date__tags
.post-tags-date__date
  display inline-block
  position relative

.post-tags-date__tags
  padding-right 10px
  a
    margin-right 5px
    &:last-child
      margin-right 0
  &::after
    content '·'
    font-weight 600
    position absolute
    right 0

.post-tags-date__date
  padding-left 5px

.post__image
  display block
  margin-bottom 55px
  img
    width 100%
    height auto

.post__body
  margin 0 auto
  min-width 530px
  padding-left $additionalPaddingForContent

.post__link
  bottom 100px
  color $post__link
  left $additionalPaddingForContent + 50px
  left $additionalPaddingForContent + 50px
  position absolute
