.post
  .post__title #{title}

  .post-info
    .post-info__tags
      a(href="#") News,
      a(href="#") Challenge,
      a(href="#") Tech,
      a(href="#") New Features
    .post-info__date 47 minutes ago

  .post__image
    img(src="" + image, alt="Post image")

  .post__body #{text}

  .post__link
